body {
    font-family: 'Lato', sans-serif;
    background-image: url("../img/background.png");
    background-size: 100%;
}

header {
    text-align: center;
    margin-top: 17%;
    margin-right: 55%;
    margin-bottom: 40%;
}

#title {
    color: white;
}

#logo {
    padding-left: 30px;
}

#box {
    background: rgb(34,193,195);
    background: linear-gradient(61deg, rgb(34,193,195) 0%, rgb(253,187,45) 100%);
    border-radius: 3em;
    padding: 1em;
    margin-left: 15em;
}

#task-form {
    background: rgb(34,193,195);
    background: linear-gradient(61deg, rgb(34,193,195) 0%, rgb(253,187,45) 100%);
    padding-top: 40px;
    display: flex;
    width: 80%;
}

form, week, #task-box{
    display: inline-block;
    padding-left: 3rem;
    vertical-align:top;
}
#task-box{
    padding-left: 1rem;
    width: 23%;
}
ul {
    list-style: none;
    line-height: 30px;
}
#check_all{
    margin-left: 40px;
}
#error-msg1{
    color: red;
}